/* For Admin/HouseKeeping Gridview */
.Alertnative-bg {
    background-color: #bfc4dc;
}

.Row-bg {
    background-color: #E7E7FF;
}

.Row-hover:hover {
    background: #979db8; /*light blue*/
    transition: ease-in;
    transition-duration: 0.2s;
}

.custom-pager {
    background-color: #E7E7FF;
    color: #333;
    text-align: center;
    padding: 4px;
    border-radius : 10px;
}

.custom-pager a,
.custom-pager span {
    display: inline-block;
    margin: 0 4px;
    padding: 1px 8px;
    text-decoration: none;
    border: 1px solid #212529;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s;
    color: #212529;
}

.custom-pager a:hover {
    background-color: #212529;
    color: #fff;
}

.custom-pager span {
    padding: 0px 5px;
    border:none;
    color: #212529;
    font-weight: bold;
}